    * {
        margin-top: 10px;
        padding: 0;
    }
    
    body {
        background-color: #4f5352;
        text-align: center;
    }
    h1{
        color: #dbdcce;
    }
    
    .container {
        height: 70vh;
        display: flex;
    
        justify-content: center;
        align-items: center;
    }
    
    .game {
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5vmin;
    }
    
    .box {
        height: 18vmin;
        width: 18vmin;
        border: 5px solid #838d8f ;
        border-radius: 10px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
        font-size: 8vmin;
        color: #dbdcce;
        background-color: #a3645f;
    }
    
    #reset-btn {
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #838d8f;
        border: 5px solid #a3645f ;
        color: #4f5352;
        border-radius: 1rem;
    }
    
    #new-btn {
        padding: 1rem;
        font-size: 1.25rem;
        color: #4f5352;
        border-radius: 1rem;
        background-color: #838d8f;
        border: 5px solid #a3645f ;
    }
    
    #msg {
        color: #a3645f;
        font-size: 5vmin;
    }
    
    .msg-container {
        height: 100vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }
    
    .hide {
        display: none;
    }
    .bar{
        width: auto;
        height: 50px;
        background-color: #838d8f;
        display: flex;
        justify-content:center;
        align-items: center;
        border: 5px solid #a3645f ;
        border-radius: 10px;
        color: #dbdcce;
    

    }